@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
}
:root{
    --primary-font:'Poppins';
    --secondary-font:'Arial';
    --primary-color:#111;
    --huge-padding:7.5vh;
    --primary-padding:5vh;
    --secondary-padding:2.5vh;
    --xl-font:60px;
    --l-font:48px;
    --m-font:36px;
    --n-font:24px;
    --s-font:18px;
    --xs-font:12px;
    --l-radius:20px;
    --radius:15px;
    --s-radius:10px;
}
a{
    text-decoration: none;
}
@media (min-width:768px){
    body{
        grid-template-columns: 17.5vw 1fr;
        grid-template-rows:1fr;
    }
    nav{
        grid-column: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: var(--primary-padding);
        padding: var(--primary-padding);
        box-shadow: 5px 0px 15px 0px rgba(0,0,0,0.125);
    }
    .logo{
        width: 100%;
        aspect-ratio: 1 /1;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.125);
        border-radius: var(--s-radius);
    }
    .logo img{
        max-width: 100%;
    }
    .navLink{
        display: flex;
        flex-direction: column;
        gap: var(--secondary-padding);
        flex-grow: 1;
    }
    .navLink a{
        font-size: var(--s-font);
        font-family: var(--primary-font);
        color: var(--primary-color);
    }
    #logout{
        margin-top: auto;
    }
    main{
        padding: var(--primary-padding);
    }
}