@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --font-color:white;
    --padding-s:2.5vh;
    --padding-l:5vh;
    --font-fam:Poppins;
    --font-s:12px;
    --font-m:18px;
    --font-l:24px;
    --font-xl:30px;
    --space-s:2.5vh;
    --space-m:5vh;
    --space-l:7.5vh;
    --radius-s:15px;
    --radius-m:20px;
    --radius-l:25px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-fam);
    color: var(--font-color);
}
body{
    background-color: black;
    display: grid;
    min-height: 100vh;
    width: 100%;
}
a{
    text-decoration: none;
}
main{
    min-height: 100vh;
}
@media(min-width:300px){
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 12.5vh 1fr;
    }
    nav{
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding:0 var(--padding-s);
        font-size: var(--font-s);
    }
    nav a{
        display: none;
    }
    nav button:nth-child(6){
        margin-left: auto;
        width: fit-content;
        height: fit-content;
        background-color: transparent;
        border: transparent;
        font-size:var(--font-s);
        transition: 0.125s ease-in-out;
    }
    main{
        grid-area: 2 / 1 / 3 / 2;
    }
    section{
        display: flex;
    }
}
@media (min-width:600px) {
    nav{
        font-size: var(--font-l);
        gap: var(--space-m);
        padding:0 var(--padding-l);
    }
    nav h3{
        margin-right: var(--space-l);
    }
    nav button:nth-child(6){
        font-size:var(--font-l);
    }
    nav a{
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0;
        transition: 0.125s ease-in-out;
    }
    nav a:hover, nav button:hover, #logout button:hover{
        scale: 1.125;
    }
    #logout{
        font-size: var(--font-l);
        background-color: rgba(50, 50, 50, 0.075);
        backdrop-filter: blur(15px);
        border: transparent;
        border-radius: var(--radius-l);
    }
    .logout-button{
        display: flex;
        gap: var(--space-s);
    }
    .logout-button button:nth-child(1), .logout-button button:nth-child(2){
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        -moz-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
    }
    #logout button{
        width: 5vw;
        aspect-ratio: 2 / 1;
        border-radius: var(--radius-s);
        transition: 0.125s ease-in-out;
        border: transparent;
    }
    #logout:popover-open{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--space-m);
        width: 40vw;
        aspect-ratio: 1 / 1;
        position: fixed;
        margin: auto;
        z-index: 10;
    }
    main{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    section{
        min-height: 50vh;
    }
}