@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --font-color:white;
    --padding-s:2.5vh;
    --padding-l:5vh;
    --font-fam:Poppins;
    --font-s:12px;
    --font-m:18px;
    --font-l:24px;
    --font-xl:30px;
    --space-s:2.5vh;
    --space-m:5vh;
    --space-l:7.5vh;
    --radius-s:15px;
    --radius-m:20px;
    --radius-l:25px;
}
@media (min-width:300px){
    nav button:nth-child(7){
        margin-left: auto;
        width: fit-content;
        height: fit-content;
        background-color: transparent;
        border: transparent;
        font-size:var(--font-s);
        transition: 0.125s ease-in-out;
    }
    main section:nth-child(1), main section:nth-child(4){
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: calc(var(--padding-l));
        gap: var(--space-m);
    }
}
@media (min-width:600px) and (orientation: landscape){
    nav button:nth-child(7){
        font-size:var(--font-m);
    }
    main section:nth-child(1), main section:nth-child(4){
        padding: calc(var(--padding-l)*2.5);
        gap: var(--space-l);
    }
    main section:nth-child(1) h1, main section:nth-child(4) h1{
        font-size: 60px;
    }
    main section:nth-child(1) p, main section:nth-child(4) p{
        font-size: var(--font-l);
        text-align: center;
    }
    main section:nth-child(2){
        width: 100%;
        height: 80vh;
    }
    main section:nth-child(2) .carousel{
        min-width: 100%;
        height: 100%;
        padding: var(--padding-l);
        overflow-x: auto;
        display: flex;
        gap: var(--space-m);
        scrollbar-color: #111;
        scrollbar-width: thin;
        scrollbar-color: #555 #111;
    }
    .carousel .cars{
        width: 30%;
        height: 100%;
        flex-shrink: 0;
        background: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: var(--padding-s);
        border-radius: var(--radius-l);
        box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        -moz-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
    }
    .cars img{
        max-width: 100%;
        min-width: 100%;
        height: 60%;
        border-radius: var(--radius-s);
    }
    .cars button, .car-details button{
        width: fit-content;
        height: 12.5%;
        width: 45%;
        background-color: transparent;
        color: var(--font-color);
        border: transparent;
        box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        -moz-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        border-radius: var(--radius-s);
        font-size: var(--font-m);
        transition: 0.125s ease-in-out;
    }
    .cars button:hover, .car-details button:hover{
        box-shadow: 0px 0px 45px 0px rgba(255,255,255,0.5);
        -webkit-box-shadow: 0px 0px 45px 0px rgba(255,255,255,0.5);
        -moz-box-shadow: 0px 0px 45px 0px rgba(255,255,255,0.5);
        background-color: rgb(21, 21, 21);
        scale: 1.0125;
    }
    #view-details{
        width: 75vw;
        height: 90vh;
        border-radius: var(--radius-l);
    }
    #view-details:popover-open{
        display: grid;
        grid-template-columns: 50% 1fr;
        grid-template-rows: 1fr;
        position: fixed;
        margin: auto;
        background-color: rgba(50, 50, 50, 0.25);
        backdrop-filter: blur(25px);
        border: transparent;
        box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        -moz-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
    }
    #view-details .car-img{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
    #img1{
        grid-area: 1 / 1 / 2 / 2;
    }
    #img2{
        grid-area: 1 / 2 / 2 / 3;
    }
    #img3{
        grid-area: 2 / 1 / 3 / 2;
    }
    #img4{
        grid-area: 2 / 2 / 3 / 3;
    }
    .car-details{
        padding: var(--padding-s);
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
    }
    .car-details h3{
        font-size: var(--font-xl);
    }
    .car-details button:nth-child(4){
        margin-top: auto;
        margin-left: auto;
    }
    .car-details button:nth-child(4) a{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}