:root{
    --font-color:white;
    --padding-s:2.5vh;
    --padding-l:5vh;
    --font-fam:Poppins;
    --font-s:12px;
    --font-m:18px;
    --font-l:24px;
    --font-xl:30px;
    --space-s:2.5vh;
    --space-m:5vh;
    --space-l:7.5vh;
    --radius-s:15px;
    --radius-m:20px;
    --radius-l:25px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-fam);
}
@media (min-width:600px){
    main, #upcoming, #history{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: var(--padding-l);
    }
    section{
        width: 100%;
        height: fit-content;
        gap: var(--space-m);
    }
    section h3{
        margin-right: auto;
    }
    .rental-detail{
        width: 95%;
        min-height: 20vh;
        height:fit-content;
        padding: var(--padding-s);
        border-radius: var(--radius-m);
        box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        -moz-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--padding-s);
    }
    form{
        display: flex;
        flex-direction: row;
        width: fit-content;
        gap: var(--space-m);
    }
    form button{
        width:fit-content;
        background-color: #111;
    }
    #edit-popover:popover-open{
        background-color: white;
        width: 50vw;
        height: 50vh;
        z-index: 10;
    }
    .action-status{
        display: flex;
        align-items: center;
        gap: var(--space-s);
    }
    .action-status button{
        margin: auto 0 0 auto;
        width: fit-content;
        height: fit-content;
        background-color: #111;
        padding: var(--padding-s);
        border-radius: var(--radius-s);
        box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        -moz-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        border: transparent;
        transition: 0.25s ease-in-out;
    }
    .action-status button:hover{
        scale: 1.05;
    }
    #payment-popover:popover-open{
        width: 30vw;
        height: 90vh;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: var(--space-s);
        padding: var(--padding-l);
        position: fixed;
        margin: auto;
        background-color: rgba(150, 150, 150, 0.25);
        backdrop-filter: blur(25px);
        border: transparent;
        box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        -moz-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        scrollbar-width: thin;
        scrollbar-color: #666 rgba(150, 150, 150, 0.25);
    }
    #payment-popover form{
        width:100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: var(--space-s);
    }
    #payment-method{
        height: 5vh;
        background-color: #111;
        border: transparent;
    }
    #payment-popover form button{
        margin: 0;
    }
}