:root{
    --font-color:white;
    --padding-s:2.5vh;
    --padding-l:5vh;
    --font-fam:Poppins;
    --font-s:12px;
    --font-m:18px;
    --font-l:24px;
    --font-xl:30px;
    --space-s:2.5vh;
    --space-m:5vh;
    --space-l:7.5vh;
    --radius-s:15px;
    --radius-m:20px;
    --radius-l:25px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-fam);
}
body{
    width: 100%;
    max-height: 100vh;
}
@media (min-width:600px){
    main{
        min-width: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
        overflow: auto;
    }
    .for-approval{
        width: 100%;
        min-height: 15vh;
        height: fit-content;
        flex-shrink: 0;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
    }
    .for-approval table{
        width: 100%;
        height: 100%;
        text-align: center;
        border-collapse: collapse;
    }
    .for-approval table th{
        background-color: grey;
        color: var(--font-color);
        padding: 5px;
    }
    .for-approval table td{
        border: 1px solid grey;
        padding: 5px;
    }
    #status-button{
        padding: var(--padding-s);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--space-s);
        height: 100%;
    }
    #status-button form button{
        width: 5vw;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
        border: transparent;
        padding: 1vh;
        background-color: white;
        border-radius: 7.5px;
    }
}