:root{
    --font-color:white;
    --padding-s:2.5vh;
    --padding-l:5vh;
    --font-fam:Poppins;
    --font-s:12px;
    --font-m:18px;
    --font-l:24px;
    --font-xl:30px;
    --space-s:2.5vh;
    --space-m:5vh;
    --space-l:7.5vh;
    --radius-s:15px;
    --radius-m:20px;
    --radius-l:25px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-fam);
}
nav button:nth-child(7){
        margin-left: auto;
        width: fit-content;
        height: fit-content;
        background-color: transparent;
        border: transparent;
        font-size:var(--font-s);
        transition: 0.125s ease-in-out;
    }
@media (min-width:600px){
    nav button:nth-child(7){
        font-size:var(--font-m);
    }
    main{
        display: grid;
        place-items: center;
    }
    #rent-details{
        display: grid;
        grid-template-columns: 50% 1fr;
        grid-template-rows: 1fr;
        background-color: rgba(50, 50, 50, 0.25);
        backdrop-filter: blur(25px);
        border: transparent;
        box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        -moz-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        width: 75vw;
        height: 90vh;
    }
    .car-img{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
    .car-img img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #img1{
        grid-area: 1 / 1 / 2 / 2;
    }
    #img2{
        grid-area: 1 / 2 / 2 / 3;
    }
    #img3{
        grid-area: 2 / 1 / 3 / 2;
    }
    #img4{
        grid-area: 2 / 2 / 3 / 3;
    }
    form{
        padding: 5vh;
        display: flex;
        flex-direction: column;
    }
    form input{
        margin-bottom: var(--space-s);
        padding: 0.5vh;
        color: #111;
        transition: 0.25s ease-in-out;
        background-color: rgb(200, 200, 200);
        border: transparent;
    }
    form input:focus{
        background-color: rgb(255, 255, 255);
    }
    form button{
        margin: auto 0 0 auto;
        width: 30%;
        height: fit-content;
        background-color: #111;
        padding: var(--padding-s);
        border-radius: var(--radius-s);
        box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        -moz-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.5);
        border: transparent;
        transition: 0.25s ease-in-out;
    }
    form button:hover{
        scale: 1.05;
    }
}
    